@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.page {
  @include page-container;
  margin: 24px 0;

  @media (min-width: $breakpoint-m) {
    margin: 32px 0;
  }

  @media (min-width: $breakpoint-l) {
    margin: 56px 0;
  }
}

.formsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 36px;

  @media (min-width: $breakpoint-m) {
    flex-direction: row;
  }
}

.rightColumn {
  display: flex;
  flex-direction: column;
  gap: 36px;
  width: 100%;
}

.infoMessage {
  text-align: center;
  margin-top: 72px;
  color: $text-secondary;

  @include body-font;
}

.errorMessage {
  @include body-font;

  text-align: center;
  margin-top: 72px;
  color: $red;
}
