@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.page {
  background-color: $background;
  transition: background-color 0.3s ease;
}

.container {
  @include page-container;
}

.hiddenTitle {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  color: $text-main;

  @include h1-font-mobile;

  @media (min-width: $breakpoint-m) {
    @include h1-font;
  }
}

.title {
  margin: 24px 0;
  color: $text-main;

  @include h1-font-mobile;

  @media (min-width: $breakpoint-m) {
    margin: 32px 0;

    @include h1-font;
  }

  @media (min-width: $breakpoint-l) {
    margin: 56px 0;
  }
}
