@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;
@use '../../../../styles/mixins/auth-form' as *;

.page {
  @include section-container;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  @include h2-font-mobile;

  @media (min-width: $breakpoint-s) {
    @include h2-font;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;

  @media (min-width: $breakpoint-s) {
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 64px;
  }
}

.form {
  @include form;
}

.inputGroup {
  @include input-group;
}

.inputContainer {
  @include input-container;
}

.input {
  @include input;
}

.inputLabel {
  @include input-label;
}

.inputTextarea {
  @include input;

  height: 120px;
  padding-top: 20px;
  resize: none;

  &:focus ~ .inputLabel,
  &:not(:placeholder-shown) ~ .inputLabel {
    transform: translateY(-8px) scale(0.8);
    color: $text-secondary;
  }
}

.formAction {
  display: flex;
  align-items: center;
}

.checkboxWrapper {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  cursor: pointer;
  user-select: none;
}

.checkbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.checkboxDescription {
  user-select: none;
  color: $text-main;

  @include small-text;
}

.submitBtn {
  @include form-btn-submit;
}

.errorCard {
  @include error-card;
}

.errorText {
  @include error-text;
}

.successCard {
  @include success-card;
}

.successText {
  @include success-text;
}

.additionalInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: $form-border;
  border-radius: 8px;
  gap: 24px;
  padding: 24px;
  background-color: $surface-1;
  height: 100%;
  box-sizing: border-box;

  @media (max-width: $breakpoint-s) {
    padding: 16px;
    height: auto;
  }
}

.address {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: $form-border;
  border-radius: 8px;
  padding: 16px;
}

.addressBlock {
  display: flex;
  gap: 6px;
}

.addressTitle {
  color: $text-main;
}

.addressDescription {
  color: $text-main;
  text-decoration: none;
  transition: color 0.2s;
  @include body-font;

  &:hover {
    color: $text-secondary;
  }
}

.info {
  display: flex;
  flex-direction: column;
  border: $form-border;
  border-radius: 8px;
  padding: 16px;
  gap: 16px;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.infoTitle {
  color: $text-main;
}

.infoDescription {
  color: $text-main;
  @include body-font;
}
